header {
    font-family: "Times New Roman", "Times New Roman", serif;
    /*font-style: revert;*/
    font-size: 40px;
    color: #1c222a;
    background-color: #edb021;
    text-align: center;
    margin: -10px -8px 0px -10px;
}
h\:form #timerShow{

}