<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <listener>
        <listener-class>com.example.lab3.mbeans.AppInitializer</listener-class>
    </listener>
    <listener>
        <listener-class>com.example.lab3.mbeans.SessionMonitor</listener-class>
    </listener>
    <context-param>
        <param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>65535</param-value> <!-- Увеличенный буфер -->
    </context-param>
    <session-config>
        <session-timeout>60</session-timeout> <!-- В минутах -->
    </session-config>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <!-- Укажите страницу, которая будет открыта при заходе на сайт -->
        <welcome-file>welcomePage.xhtml</welcome-file>
    </welcome-file-list>
</web-app>